Source: vcs
Section: contrib/graphics
Priority: extra
Maintainer: Toni Corvera <outlyer@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: vcs
Architecture: all
Depends: bc, bash, grep, imagemagick (>= 6.0), mktemp, mplayer, ffmpeg
Description: vcs is a script that creates a contact sheet (preview) from videos
 Video Contact Sheet *NIX (vcs for short) is a script that creates a contact
 sheet (preview) from videos by taking still captures distributed over the
 length of the video. The output image contains useful information on the video
 such as codecs, file size, screen size, frame rate, and length.
 .
 Upstream homepage <http://p.outlyer.net/vcs/>.
